* {
  margin: 0;
}
body {
  background-color: blue;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 4em;
  background-color: rgba(40,40,40,0.95);
  border-bottom: 1px solid #1a1a1a;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #1a1a1a;
}

#header-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.05fr;
  grid-column-gap: 1.5em;
  list-style: none;
  position: absolute;
  right: -5%;
  top: 0.75em;
}

#header-links > a > li:hover {
  color: red;
  cursor: pointer;
}

#header-links > a {
  text-decoration: none;
}

#header-links > a > li {
  font-size: 2em;
  color: white;
}

#intro-wrap {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}

#hello {
  font-size: 48px;
  color: white;
  text-align: center;
  position: relative;
  top: 25%;
  animation: fade-up 1s;
  
}

#intro {
  font-size: 48px;
  color: white;
  text-align: center;
  position: relative;
  top: 30%;
  animation: fade-down 1s;
}

@keyframes fade-up {
  0% {
      top: 110%;
}
}

@keyframes fade-down {
  0% {
      top: -10%;
}
}

#about {
  text-decoration: underline;
  text-align: center;
  font-size: 48px;
  position: relative;
  top: 15%;
}

#description {
  position: absolute;
  left: 5%;
  width: 40%;
  top: 140%;
  font-size: 22px;
}

#skills > h2 {
  text-decoration: underline;
  margin-bottom: 0.4em;
}

#skills {
  position: absolute;
  left: 70%;
  top: 135%;
  font-size: 22px;
}

#portfolio {
  text-decoration: underline;
  text-align: center;
  font-size: 48px;
  position: relative;
  top: 95%;
}

#project-1 {
  position: absolute;
  top: 235%;
  right: 5%;
  width: 40%;
}

#project-1 > h2 {
  font-size: 28px;
}

#project-1 > p {
  font-size: 20px;
}

#img-1 {
  position: absolute;
  left: 3%;
  top: 225%;
}

#project-2 {
  position: absolute;
  top: 325%;
  left: 5%;
  width: 40%;
}

#project-2 > h2 {
  font-size: 28px;
}

#project-2 > p {
  font-size: 20px;
}

#img-2 {
  position: absolute;
  right: 3%;
  top: 310%;
}

#project-3 {
  position: absolute;
  top: 405%;
  right: 5%;
  width: 40%;
}

#project-3 > h2 {
  font-size: 28px;
}

#project-3 > p {
  font-size: 20px;
}

#img-3 {
  position: absolute;
  left: 3%;
  top: 395%;
}

#project-4 {
  position: absolute;
  top: 495%;
  left: 5%;
  width: 40%;
}

#project-4 > h2 {
  font-size: 28px;
}

#project-4 > p {
  font-size: 20px;
}

#img-4 {
  position: absolute;
  right: 3%;
  top: 480%;
}

#project-5 {
  position: absolute;
  top: 570%;
  right: 5%;
  width: 40%;
}

#project-5 > h2 {
  font-size: 28px;
}

#project-5 > p {
  font-size: 20px;
}

#img-5 {
  position: absolute;
  left: 3%;
  top: 565%;
}

footer {
  background-color: #212f3c;
  width: 100%;
  height: 5.6em;
  position: relative;
  top: 550%;
}

#to-top {
  color: orange;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

#linked-link {
  position: absolute;
  left: 0.5em;
  top: 2em;
}

#code-hub {
  position: absolute;
  left: 0.5em;
  top: 3.4em;
}

.project-image {
  width: 45vw;
  aspect-ratio: 1.3/1;
}

#light-wrap {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  z-index: 100;
}

#light {
  position: relative;
  width: 0.4vw;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 15px;
  opacity: 1;
  animation: flash 11s infinite, drift 11s infinite;
  z-index: 100;
}

@keyframes flash {
  0% {
          opacity: 0;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
        25% {
          opacity: 1;
          box-shadow: 0 0 0.8vw 0.8vw yellow;
        }
  45% {
    opacity: 0;
  }
        100% {
          opacity: 0;
                    box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
}

@keyframes drift {
  0%  {
    left: 5vw;
    top: 90%;
  }
  50% {
    left: 25vw;
    top: 50%;
  }
  100% {
    left: 90vw;
    top: 10%;
  }
}

#light2 {
  position: relative;
  width: 0.4vw;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 15px;
  opacity: 1;
  animation: flash2 13s infinite, drift2 13s infinite;
  z-index: 100;
}

@keyframes flash2 {
  0% {
    opacity: 0;
  }
  30% {
          opacity: 1;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
  50% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
        100% {
          opacity: 0;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
}

@keyframes drift2 {
  0%  {
    left: 70vw;
    top: 70%;
  }
  50% {
    left: 60vw;
    top: 50%;
  }
  80% {
    left: 75vw;
    top: 20%;
  }
  100% {
    left: 80vw;
    top: 10%;
  }
}

#light3 {
  position: relative;
  width: 0.4vw;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 15px;
  opacity: 1;
  animation: flash3 15s infinite, drift3 15s infinite;
}

@keyframes flash3 {
  30% {
          opacity: 1;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
        100% {
          opacity: 0;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
}

@keyframes drift3 {
  0% {
    opacity: 0%;
  }
  29% {
    opacity: 0;
  }
  30%  {
    opacity: 1;
    left: 30vw;
    top: 30%;
  }
  60% {
    opacity: 0;
    left: 10vw;
    top: 35%;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    left: 15vw;
    top: 20%;
  }
  100% {
    left: 15vw;
    top: 0%;
  }
}

#light4 {
  position: relative;
  width: 0.4vw;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 15px;
  opacity: 1;
  animation: flash4 10s infinite, drift4 10s infinite;
}

@keyframes flash4 {
  30% {
          opacity: 1;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
        100% {
          opacity: 0;
          box-shadow: 0 0 0.5vw 0.5vw yellow;
        }
}

@keyframes drift4 {
  0% {
    opacity: 0%;
  }
  29% {
    opacity: 0;
  }
  30%  {
    opacity: 1;
    left: 51vw;
    top: 70%;
  }
  60% {
    opacity: 0;
    left: 55vw;
    top: 35%;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    left: 15vw;
    top: 20%;
  }
  100% {
    left: 15vw;
    top: 0%;
  }
}

@media all and (max-width: 1200px) {
footer {
  top: 580%;
}
}

@media all and (max-width: 910px) {
#portfolio {
top: 115%;
}

#project-1 {
  top: 255%;
}

#img-1 {
  top: 245%;
}

#project-2 {
  top: 325%;
}
#img-2 {
  top: 330%;
}

#project-3 {
  top: 410%;
}

#img-3 {
top: 420%;
}

#project-4 {
  top: 515%;
}

#img-4 {
  top: 515%;
}

#project-5 {
  top: 600%;
}

#img-5 {
  top: 610%;
}

footer {
  top: 630%;
}
}

@media all and (max-width: 800px) {
  footer {
    top: 645%;
}
}

@media all and (max-width: 750px) {
#header-links {
  right: -5%;
}

  #portfolio {
  top: 125%;
}

#project-1 {
  top: 265%;
  width: 45%;
  right: 2%;
}

#img-1 {
  top: 265%;
  width: 45%;
  left: 2%;
}

#project-2 {
  top: 345%;
  width: 45%;
  left: 2%;
}

#img-2 {
  top: 355%;
  width: 45%;
  right: 2%;
}

#project-3 {
  top: 445%;
  width: 45%;
  right: 2%;
}

#img-3 {
  top: 455%;
  width: 45%;
  left: 2%;
}

#project-4 {
  top: 560%;
  width: 45%;
  left: 2%;
}

#img-4 {
  top: 575%;
  width: 45%;
  right: 2%;
}

#project-5 {
  top: 650%;
  width: 45%;
  right: 2%;
}

#img-5 {
  top: 660%;
  width: 45%;
  left: 2%;
}

footer {
  top: 710%;
}

body {
  background-color: green;
}
}

@media all and (max-width: 650px) {
  #portfolio {
    top: 155%;
}

#project-1 {
  top: 300%;
}

#img-1 {
top: 310%;
}

#project-2 {
  top: 385%;
}

#img-2 {
  top: 395%;
}

#project-3 {
  top: 500%;
}

#img-3 {
  top: 510%;
}

#project-4 {
  top: 630%;
}

#img-4 {
  top: 640%;
}

#project-5 {
  top: 730%;
}

#img-5 {
  top: 750%;
}

footer {
  top: 800%;
}
}

@media all and (max-width: 550px) {
  #portfolio {
   top: 180%;
  }

  #project-1 {
    top: 340%;
  }

  #img-1 {
    top: 350%;
  }

#project-2 {
  top: 440%;
}

#img-2 {
  top: 450%;
}

#project-3 {
  top: 580%;
}

#img-3 {
  top: 590%;
}

#project-4 {
  top: 730%;
}

#img-4 {
  top: 740%;
}

#project-5 {
  top: 850%;
}

#img-5 {
  top: 860%;
}

footer {
  top: 955%;
}
}